
.header {
  padding: 15px 20px;
  background-color: rgba(0, 51, 102);
  color: var(--frente);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  width: 100%;      
  z-index: 10;
  
  
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: aliceblue;
}


.lista {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: transform 0.3s ease;
  align-items: center;
  padding: 10px 0;
  justify-content: flex-start; 
  flex-grow: 1;
  position: relative; 
}



.lista li a {
  text-decoration: none;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: rgba(152, 251, 152);
  font-weight: bold;
  transition: color 0.3s ease;
  justify-content: flex-end; 

}

.lista li a:hover {
  color: rgba(255, 255, 255);
}


.menuHamburguer {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  position: absolute; 
  top: 20px;  
  right: 20px; 
  z-index: 10; 
  margin-top: 15px;
}

  
.menuHamburguer span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--background);
    transition: transform 0.3s ease;
  }




.menuHamburguer .open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.menuHamburguer .open:nth-child(2) {
  opacity: 0;
}

.menuHamburguer .open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}


.lista.ativo {
    display: block;
    position: fixed; 
    top: 0;
    left: 0;          
    width: 250px;      
    height: 100vh;     
    padding-top: 50px; 
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 5;        
    background-color: var(--foreground);
    
 
}

@media (max-width: 600px) {
  .logo Image {
    height: 30px; 
  }
  .logo{
    margin-right: auto;
  }
  
  .lista {
      display: none; 
    }
  
    .menuHamburguer {
      display: flex; 
    }
  
    .lista.ativo {
      display: block; 
    }
  }
  

.logo {
  display: flex;
  align-items: center;
  gap: 10px; 
  
}

.logo img {
  border-radius: 50%; 
  width: 100px;       
  height: 100px;      
  object-fit: cover;
  
}

.Header_li__UAPbS {
  margin-right: 10px;
  position: relative;
  list-style: none;
  min-width: max-content
}
.Header_li__UAPbS:hover .Header_submenu__Nh5Zz {
  display: block
}
.Header_submenu__Nh5Zz {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  z-index: 1
}

.Header_submenu__Nh5Zz li {
  padding: 10px;
  border-bottom: 1px solid #444
}

.Header_submenu__Nh5Zz li:last-child {
  border-bottom: none
}

.Header_submenu__Nh5Zz li:hover {
  background-color: #444
}
.Header_nav__LVYU2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  flex-grow: 1
}

.Header_ul__WWrGg {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  justify-content: flex-start
}
